<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIT24.las</key>
	<string>Depth:140.00~80.00 Well: Date:Fri Feb 01 15-26-01 2008+LSPD,WTEMP,MINR,MXRD,AVRD,MNRD,R24,R23,R22,R21,R20,R19,R18,R17,R16,R15,R14,R13,R12,R11,R10,R09,R08,R07,R06,R05,R04,R03,R02,R01</string>
</dict>
</plist>
